<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Inloggen')"></head>
    <body>
        <nav th:replace="fragments::nav"></nav>
        <h1>Inloggen</h1>
        <form th:action="@{/login}" method="post">
            <div>Emailadres</div>
            <input name="username" required autofocus>
            <div>Paswoord</div>
            <input name="password" type="password" required>
            <input type="submit" value="Inloggen">
            <div th:if="${param.error} != null">gebruikersnaam of paswoord verkeerd</div>
        </form>
    </body>
</html>
