<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Rijksregisternummer ' + ${werknemer.voornaam} + ' ' + ${werknemer.familienaam})"></head>
    <body>
        <nav th:replace="fragments::nav"></nav>
        <h1 th:text="|Rijksregisternummer van ${werknemer.voornaam} ${werknemer.familienaam}|"></h1>
        <div>Huidig rijksregisternummer</div>
        <div th:text="${werknemer.rijksregisternr}" class="bold"></div>
        <form th:action="@{/werknemer/{id}/rijksregisternr (id=${werknemer.id})}" method="post" th:object="${rijksregisternrForm}">
            <div>Nieuw rijksregisternummer</div>
            <input type="hidden" th:value="${werknemer.geboorte}" th:field="*{geboorte}"/>
            <input th:value="${werknemer.rijksregisternr}" th:field="*{rijksregisternr}" type="number"/>
            <input type="submit" th:value="Opslaan"/>
            <div th:if="${#fields.hasGlobalErrors()}">
                <span th:errors="${rijksregisternrForm}"></span>
                <span th:errors="*{geboorte}" ></span>
            </div>
        </form>

    </body>
</html>